.input {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 6%;
  min-height: 50px;
  width: 98vw;
  padding: 2.5vh 1vw 2vh 1vw;
  box-shadow: 0px -3px 15px #00000045;
  background-color: #3e166b;

  display: flex;
  justify-content: space-evenly;
}
